<div th:fragment="navbar">
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark blue lighten-1">
        <a class="navbar-brand h2" th:href="@{/}" th:text="#{article.brand}">ARTICLE MANAGEMENT SYSTEM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/category" th:text="#{article.category}">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=kh">
                        <img th:src="@{/image/kh-flag.png}"/>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=en">
                        <img th:src="@{/image/en-flag.png}"/>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="navbar-dropdown">
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark lighten-1">
        <a class="navbar-brand h2" th:href="@{/}" th:text="#{article.brand}">ARTICLE MANAGEMENT SYSTEM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/category" th:text="#{article.category}">
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{article.language}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="?lang=kh">ខ្មែរ</a>
                        <a class="dropdown-item" href="?lang=en">English</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

