<div th:fragment="pagination">
    <div class="d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage eq 1} ? disabled">
                    <a th:href="@{/(page = 1, limit = 10)}" class="page-link"><i class="fas fa-step-backward"></i></a>
                </li>
                <li class="page-item" th:classappend="${currentPage eq 1} ? disabled">
                    <a class="page-link" th:href="@{/(page = ${currentPage} - 1, limit = 10)}" tabindex="-1">Previous</a>
                </li>

                <th:block th:if="${currentPage - 1 gt 0 and currentPage + 1 <= lastPage}">
                    <li class="page-item" th:each="pageNo : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                        th:classappend="${currentPage eq pageNo}? 'active' : ''">
                        <a class="page-link" th:href="@{/(page = ${pageNo}, limit = 10)}" th:text="${pageNo}" tabindex="-1"></a>
                    </li>
                </th:block>

                <th:block th:if="${currentPage - 1 eq 0}">
                    <li class="page-item" th:each="pageNo : ${#numbers.sequence(currentPage, lastPage > 3 ? currentPage + 2 : lastPage)}"
                        th:classappend="${currentPage eq pageNo}? 'active' : ''">
                        <a class="page-link" th:href="@{/(page = ${pageNo}, limit = 10)}" th:text="${pageNo}" tabindex="-1"></a>
                    </li>
                </th:block>

                <th:block th:if="${currentPage eq lastPage}">
                    <li class="page-item" th:each="pageNo : ${#numbers.sequence(currentPage - 2 < 1 ? 1 : currentPage - 2, currentPage)}"
                        th:classappend="${currentPage eq pageNo}? 'active' : ''">
                        <a class="page-link" th:href="@{/(page = ${pageNo}, limit = 10)}" th:text="${pageNo}" tabindex="-1"></a>
                    </li>
                </th:block>

                <!--<li class="page-item" th:each="pageNo : ${#numbers.sequence(1, lastPage)}"-->
                    <!--th:classappend="${currentPage eq pageNo}? 'active' : ''">-->
                    <!--<a class="page-link" th:href="@{/(page = ${pageNo}, limit = 10)}" th:text="${pageNo}" tabindex="-1"></a>-->
                <!--</li>-->

                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
                <!--<li class="page-item active">-->
                <!--<a class="page-link" th:href="@{/(page = 1, limit = 10)}">2 <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->

                <li class="page-item" th:classappend="${currentPage eq lastPage} ? disabled">
                    <a class="page-link" th:href="@{/(page = ${currentPage} + 1, limit = 10)}">Next</a>
                </li>
                <li class="page-item" th:classappend="${currentPage eq lastPage} ? disabled">
                    <a th:href="@{/(page = ${lastPage}, limit = 10)}" class="page-link"><i class="fas fa-step-forward"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>