<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!--Call fragment-->
    <th:block th:replace="fragment/style :: style"></th:block>
</head>
<body>
<!--Navbar -->
<div th:replace="fragment/navbar :: navbar"></div>
<div class="container">
    <!--/.Navbar -->
    <form th:action="@{/category/add}" method="post" th:object="${category}" enctype="multipart/form-data">
        <div class="mt-5">
            <div class="col col-lg-8 offset-2">
                <div class="card mb-custom">
                    <div class="card-header">
                        <h2 class="card-title d-flex justify-content-center"
                            th:utext="'<u>'+#{category.header}+'</u>'"></h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="" th:text="#{category.name}">Name</label>
                            <span class="text-danger" th:if="${#fields.hasErrors('name')}"
                                  th:text="'*' + #{category.title_not_empty}"></span>
                            <input type="text" class="form-control" th:field="*{name}">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="submit" class="btn btn-sm btn-primary" th:text="#{category.add_new}">ADD
                            </button>
                            <a th:href="@{/category}" class="btn btn-sm btn-brown" th:text="#{category.go_back}">Go
                                Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div th:replace="/fragment/footer"></div>
<th:block th:replace="fragment/script"></th:block>
</body>
</html>