<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!--Call fragment-->
    <th:block th:replace="fragment/style :: style"></th:block>
</head>
<body>
<!--Navbar -->
<div th:replace="fragment/navbar :: navbar"></div>
<div class="container">
    <!--/.Navbar -->
    <form th:action="@{/article/add}" method="post" th:object="${article}" enctype="multipart/form-data">
        <div class="mt-5">
            <div class="col col-lg-8 offset-2">
                <div class="card mb-custom">
                    <div class="card-header">
                        <h2 class="card-title d-flex justify-content-center"
                            th:utext="'<u>'+#{article.brand}+'</u>'"></h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group" style="display: none;">
                            <label for="" th:text="#{article.identifier}">ID</label>
                            <input type="hidden" class="form-control" th:field="*{id}" th:value="*{id}">
                            <label class="form-control" th:text="*{id}"></label>
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{article.title}">Title</label>
                            <span class="text-danger" th:if="${#fields.hasErrors('title')}"
                                  th:text="'*' + #{article.title_not_empty}"></span>
                            <input type="text" class="form-control" th:field="*{title}">
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{article.category}"></label>
                            <select class="form-control" required th:field="${article.category.id}">
                                <option value="0" selected disabled th:text="#{article.choose_category}"></option>
                                <option th:each="catego : ${categories}" th:text="*{name}" th:value="${catego.id}" th:object="${catego}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{article.author}">Author</label>
                            <span class="text-danger" th:if="${#fields.hasErrors('author')}"
                                  th:text="'*' + #{article.author_not_empty}"></span>
                            <input type="text" class="form-control" th:field="*{author}">
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{article.description}">Description</label>
                            <!--<input type="text" class="form-control" th:field="*{description}">-->
                            <textarea th:field="*{description}" class="form-control" cols="30" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{article.image}">Image</label>
                            <div class="custom-file" id="customFile" style="height: auto">
                                <input type="file" class="custom-file-input" id="file" name="file"
                                       aria-describedby="fileHelp">
                                <label class="custom-file-label" for="file">
                                    Select file...
                                </label>
                                <img id="blah" class="mt-4 img-thumbnail" th:src="'/img/sample.jpg'"
                                     style=" margin-left: auto; margin-right: auto; width: 512px; display: block"
                                     alt="your image"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="submit" class="btn btn-sm btn-primary" th:text="#{article.add_new}">ADD
                            </button>
                            <a th:href="@{/article}" class="btn btn-sm btn-brown" th:text="#{article.go_back}">Go
                                Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div th:replace="/fragment/footer"></div>
<th:block th:replace="fragment/script"></th:block>
</body>
</html>