<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragment/main_layout}">
<head>
    <title>HOME</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <!--'<i class='far fa-2x fa-plus-square'></i> ' +-->
    <div class="card mt-5 mb-5">
        <div class="card-header">
            <a th:href="@{/article/create}" class="btn btn-light-dark text-white" th:utext="#{article.add_new}"></a>
            <div class="float-right">
                <button data-toggle="modal" data-target="#filter-modal" id="btn-filter"
                        class="btn btn-light-dark text-white" th:text="#{article.filter}"></button>
                <a class="btn btn-light-dark text-white" id="btn-change-navbar"
                   th:text="#{btn.navbar-dropdown}"></a>
            </div>
        </div>
        <div class="card-body">
            <th:block th:if="${#lists.size(articles) == 0}">
                <h1>No data</h1>
            </th:block>
            <th:block th:unless="${#lists.size(articles) == 0}">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{article.identifier}"></th>
                        <th th:text="#{article.title}"></th>
                        <th th:text="#{category}"></th>
                        <th th:text="#{article.author}"></th>
                        <th th:text="#{article.description}"></th>
                        <th th:text="#{article.thumbnail}"></th>
                        <th th:text="#{article.action}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article, articleStt : ${articles}">
                        <td class="td-center" th:text="${article.id}"></td>
                        <td class="td-center" th:text="${article.title}"></td>
                        <th class="td-center" th:text="${article.category.name}"></th>
                        <td class="td-center" th:text="${article.author}"></td>
                        <td class="td-center custom-text" th:text="${article.description}"></td>
                        <td>
                            <img class="img-thumbnail" style="width: 61px; height: 57px; margin-left: 1.3rem;"
                                 th:src="${article.image eq null} ? '/img/sample.jpg' : '/img/' + ${article.image}">
                        </td>
                        <td class="td-center">
                            <a th:href="@{/article/show/{id}(id=${article.id})}" data-toggle="tooltip"
                               data-placement="top"
                               title="View" th:attr="data-id=${article.id}"><i
                                    class="far fa-1x-custom fa-eye text-warning"></i></a>
                            <a th:href="@{/article/edit/{id}(id=${article.id})}" data-toggle="tooltip"
                               data-placement="top"
                               title="Edit" th:attr="data-id=${article.id}"><i
                                    class="far fa-1x-custom text-primary fa-edit"></i></a>
                            <form th:action="@{/article/{id}(id=${article.id})}" th:method="delete"
                                  style="display: inline">
                                <a data-toggle="tooltip" data-placement="top"
                                   title="delete" class="delete" th:attr="data-id=${article.id}"><i
                                        class="far fa-1x-custom text-danger fa-trash-alt"></i></a>
                            </form>
                        </td>

                    </tr>

                    </tbody>
                </table>
                <th:block th:if="${(currentPage ne -1) and (lastPage gt 1)}">
                    <th:block th:replace="fragment/pagination :: pagination"></th:block>
                </th:block>
            </th:block>
        </div>
        <div class="card-footer">
            <span class="h5" th:text="#{article.current_articles('' + ${#lists.size(articles)})}"></span>
            <span class="h5 float-right" th:text="#{article.total_articles('' + ${totalRecord})}"></span>
        </div>
    </div>

    <!--filter modal-->
    <div class="modal" tabindex="-1" role="dialog" id="filter-modal">
        <div class="modal-dialog" role="document">
            <form th:action="@{/article}" th:object="${articleSearch}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Search Article</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="" th:text="#{article.title}">Title</label>
                            <input type="text" class="form-control" th:field="*{title}">
                        </div>
                        <div class="form-group">
                            <label for="" th:text="#{article.category}"></label>
                            <select class="form-control" required th:field="${articleSearch.category.id}">
                                <th:block th:if="${#lists.size(categories) eq 0}">
                                    <option value="0" selected disabled th:text="#{article.choose_category}"></option>
                                </th:block>
                                <th:block th:unless="${#lists.size(categories) eq 0}">
                                    <option value="0" th:text="#{article.choose_category}"></option>
                                    <option th:each="catego : ${categories}" th:text="*{name}" th:value="${catego.id}"
                                            th:object="${catego}"
                                            th:if="${catego.id eq categoryId} ? 'selected':'' "></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>